.header {
    padding:5px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    text-align:center;
    font-size: 25px;
    background: #61c75a;
        
}
.logo{
    margin-right: 10px;
    margin-top:10px;
    height:100px;
    width:150px;
}