.large-search-bar {
    width: 400px; 
    height: 20px; 
    font-size: 16px; 
    max-width: 500px;
    margin: 10px auto;
    text-align:center;
    padding: 10px;
    background-color: #fff;
    border: 4px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .search-button{
    width: 70px;
    height: 35px; 
    padding: 5px; 
    font-size: 16px;
    
  
   
  }